<h2>Admin Panel</h2>

<h4><%= link_to "Article Groups", article_groups_path %></h4>

<h4><%= link_to "Articles", articles_path %></h4>

<h4><%= link_to "Manufacturers", manufacturers_path %></h4>

<h4><%= link_to "Countries", countries_path %></h4>

<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Home', root_path %></button>
