<h1>Listing Article packages</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Number</th>
      <th>Title</th>
      <th class="description_field">Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_packages.each do |article_package| %>
      <tr>
        <td><%= image_tag article_package.pictures.first.image.url(:thumb) %></td>
        <td><%= article_package.article_package_number %></td>
        <td><%= article_package.title %></td>
        <td><%= article_package.description %>/td>
        <td><%= article_package.price %></td>
        <td><%= link_to 'Show', article_package %></td>
        <td><%= link_to 'Edit', edit_article_package_path(article_package) %></td>
        <td><%= link_to 'Destroy', article_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article package', new_article_package_path %>